[default]
use_cuda = true
batch_size = 128
test_batch_size = 1024
seed = 2
window_size = 5


model = "ResNet50"
num_classes = 10
optim = "SGD"
lr = 0.1
momentum = 0.9
weight_decay = 5e-4

epochs = 30
test_interval = 100

#loss_adjustment = "threshold-linear-annealing"
loss_threshold = 0.03

loss_anneal_init = 0.5
loss_anneal_min = 0.001
loss_anneal_step = 80000


[sweep]
seeds = [2]
datasets = ['MNIST', 'CIFAR10', 'CIFAR100']


[MNIST]
num_classes = 10
transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize([0.1307,], [0.3081,])
    ])"""
test_transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize([0.1307,], [0.3081,])
    ])"""


[CIFAR10]
model = "ResNet18"
num_classes = 10
epochs = 100
test_interval = 300
transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.RandomCrop(32, padding=4),
    transforms.RandomHorizontalFlip(),
    transforms.Normalize((0.4914, 0.4822, 0.4465), (0.2023, 0.1994, 0.2010))
    ])"""
test_transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize((0.4914, 0.4822, 0.4465), (0.2023, 0.1994, 0.2010)),
    ])"""
loss_threshold = 0.03


[CIFAR100]
model = "ResNet50"
num_classes = 100
batch_size = 128
epochs = 200

train_transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.RandomCrop(32, padding=4),
    transforms.RandomHorizontalFlip(),
    transforms.Normalize((0.5071, 0.4867, 0.4408), (0.2675, 0.2565, 0.2761))
    ])"""
test_transform = """transforms.Compose([
    transforms.ToTensor(),
    transforms.Normalize((0.5071, 0.4867, 0.4408), (0.2675, 0.2565, 0.2761))
    ])"""


[wandb]
project = "DynImpt"
experiment = "CIFAR100"
